@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Layout */

:root{
  --primary:#1aac83;
  --error:#e7195a;
}

body{
  background: #000000;
  margin:0;
  font-family:"Poppins";
  color: #ffffff;
  
}

header{
  background: #fff;
}

header .container {
  max-width:1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: #333;
  text-decoration: none;
}

.pages{
  max-width:1400px;
  padding:20px;
  margin:0 auto;
  
}

/* HomePage */

.home{
  /* display: grid; */
  /* align-items: center; */
  /* grid-template-columns: 3fr 1fr; */
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 10rem;
  padding-top: 0;
}
.book{
  display: grid;
  /* grid-template-columns: 3fr 1fr; */
  gap: 100px;
}
.bus-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  transition: 0.4s;
}
.bus-details:hover{
  transform: scale(1.05);
}

.bus-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);

}

.bus-details p{
  margin:0;
  font-size: 0.9em;
  color: #555;
}

.bus-details span{
  position:absolute;
  top:20px;
  right: 20px;
  cursor: pointer;
  background:#f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* bus Form */
label,input{
  display: block;
}
input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.register{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;  

}
div.error{
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 4px;
  margin: 20px 0;
  color: black;
}

input.error{
  border:1px solid red
}

.loginform{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  width: 40%;
  border: 3px solid rgb(26, 171, 130);
  padding: 10px;
}
.book-button{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right:0.5rem ;
  font-family: "Poppins";
  background-color: #1aac83;
  padding: 10px;
  border-radius: 5%;
  color: white;
  border: none;
  transition: .2s ease-in-out 0s;
}
.book-button:hover{
  background-color: #9d0938;
  transform:scale(1.1) ;
}
select {
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  padding: 5px;
}
.book-seats-form-input{
  background-color: #1aac8343;
  border:solid 2px #006936;
  color: #000000;
  width: 50%;
  padding: 5px;
}
.book-seats-form{
  display: flex;
  flex-direction: row;   
  gap: 1rem;
  align-items: baseline;
  width: 40%;
}
.book-buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.book-seats-button{  
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  transition: 0.4s;

}
.book-seats-button:hover{
  background-color: #06936b;
  transform: scale(1.1);
  border-radius: 10px;
}

.book-all{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;  
  transition: 0.4s;
}
.book-all:hover{
  background-color: #06936b;
  transform: scale(1.1);
  border-radius: 10px;
}
@media (max-width:1080px){

  
}
@media (max-width: 600px) {

  .book-seats-form{
    width: 100%;
  }
  .loginform{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: auto;
    width: 70%;
    border: 3px solid #1aac83;
    padding: 10px;
  }
  .home{
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    padding-top: 0;
  }
  .register{
    width: 100%;
  }
  /* .book-seats-form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .book-seats-form-input{
    width: 100%;
  } */
  .book-buttons{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  

}
span{
  color :#1aac83
}
